* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  width: 100%;
  padding: 0;
  display: grid;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 16px;
  font-weight: 600;
}

.app-outer
{
  width: 2500px;
  margin: 0 50px 0 50px;
}

.productContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ecomImg {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6vh;
  margin-bottom: 10px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f17300;
  background-color: #f17300;
  margin-bottom: 10px;
  padding: 10px;
  color: #ffffff;
}

#cartImg {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-right: 20px;
}

/* colour F17300 */
